.bc-text {
    background-color: #efe7db !important;
}


.bc-button {
    background-color: #ff6f61 !important;
}


.bc-normal {
    background-color: #babba9;
}


.bc-fighting {
    background-color: #bb5643;
}


.bc-flying {
    background-color: #96c9fe;
}


.bc-poison {
    background-color: #9553ce;
}


.bc-ground {
    background-color: #a67439;
}


.bc-rock {
    background-color: #a57439;
}


.bc-bug {
    background-color: #93c12a;
}


.bc-ghost {
    background-color: #6e4370;
}


.bc-steel {
    background-color: #abaaba;
}


.bc-fire {
    background-color: #ff421c;
}


.bc-water {
    background-color: #2c9be3;
}


.bc-grass {
    background-color: #62bc5b;
}


.bc-electric {
    background-color: #fedc00;
}


.bc-psychic {
    background-color: #ff6380;
}


.bc-ice {
    background-color: #74cfc0;
}


.bc-dragon {
    background-color: #5670bd;
}


.bc-dark {
    background-color: #4e4644;
}


.bc-fairy {
    background-color: #ec8fe7;
}